.App {
  text-align: center;
  background-color: #272727;
}

.Allcontainer {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}